@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #f3f4fd;
}

main {
  min-height: 75vh;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px auto;
}

/* main::before {
  content: "";
  background-image: "../img/background.png";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.25;
}
*/
meal-list {
  display: block;
  margin-top: 32px;
  width: 100%;
}
